#form {
    margin-top: 5vh;
    font: arial;
    font-size: 1.2rem;
    height: 10vh;
    display: flex;
    flex-direction: column;

}


#radio-p {
    display: flex;
    flex-direction:row;
    margin-top: 2vh;
}

.email-password {
    display: flex;
    flex-direction: column-reverse;
}

#password {
    margin-top: 10px;
}

input[type=text] {
    width: 300px;
}

input[type=password] {
    width: 300px;
}

#forgot-p{
    margin-top: 0px;
    color: red;

}

#radio{
    margin-right: 20px;
}

#label-p{
    font-weight: 600;
}

button {
    color:white;
    background-color: rgb(26, 84, 200);
    border-radius: 3px;
    border-color: rgb(26, 84, 200);
    width: 300px;
    padding: 10px 0;
}